*{
	margin: 0;
	padding: 0;
}
body{
	/*background: #A7B688;*/
}
div{
	background: #E0F1BD;
	border: 2px solid #7BB604;
	border-radius: 15px;
}
.chat{
	width: 800px;
	height: 800px;
	margin: 30px auto;
	border: 1px solid #476A02;
	background: #476A02;
}
header{
	width: 780px;
	height: 100px;
	margin: 10px auto;
	background: #E0F1BD;
	border: 2px solid #7BB604;
	border-radius: 15px;
}
header div{
	margin: 10px; 
	background: none;
	border: none;
}
header img{
	float: right;
	margin: 5px 0 0 0;
}
.participants{
	width: 200px;
	height: 650px;
	margin: 10px 10px 10px 10px;
	float: left;
}
.online{
	margin: 5px;
}
.participants div{
	width: 170px;
	height: 590px;
	margin: 10px auto;
	padding: 5px;
	background: #F2FFCF;
}
.participants a{
	text-decoration: none;
}
.main{
	width: 560px;
	height: 650px;
	margin: 10px 10px 10px 0;
	float: right;
	background: none;
	border: none;
}
.inset{
	height: 20px;
	float: left;
	padding: 0 20px 0 20px;
}
.messages{
	height: 400px;
	margin: 24px 0 10px 0;
	padding: 5px;
	
}
.typing textarea{
	height: 100px;
	width: 546px;
	background: #E0F1BD;
	border: 2px solid #7BB604;
	border-radius: 15px;
	resize: none;
	padding: 5px;
}
div.typing{
	background: none;
	border: none;
}
.main .inset a{
	text-decoration: none;
}
.messageinfo{
	background: none;
	border: none;
	margin: 10px 0 0 0;
}
input[type=button],input[type=submit]{
	float: right;
	margin: 10px;
	padding: 0 5px 0 5px;
	background: #E0F1BD;
	border-radius: 5px;
}
input[type=button]{
	margin: 10px 0 0 0;
}